.container-fluid{
    background-color: $primary-1;
}
.container{
    display: flex;
    font-family: $font-sans;
    color: $light;
}
h1{
    font-family: $font-sans-italic;
}
.logo{
    color: yellow;
    font-family: $font-sans;
}
.site{
    margin: 0;
}
.menu{
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
ul{
    font-family: $font-semibold;
}
li{
    display: inline;
    list-style-type: none;
    list-style: none;
    font-size: 10px;
}
i{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.signin{
    width: 100px;
    height: 40px;
    background-color: $pr-1-dark-1;
    border: 1px solid $pr-1-dark-1;
    border-radius: 5px;
    color: $light;
    font-family: $font-semibold;
    margin: auto 5px auto 5px;

}
.order{
    width: 100px;
    height: 40px;
    background-color: $primary-2;
    border: 1px solid $primary-2;
    border-radius: 5px;
    color: $light;
    font-family: $font-semibold;
    margin: auto 5px auto 5px;
}