@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins/Poppins.woff2') format('woff2'),
        url('../../fonts/Poppins/Poppins.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../../fonts/Poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../../fonts/Poppins/Poppins-Light.woff2') format('woff2'),
        url('../../fonts/Poppins/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../../fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
        url('../../fonts/Poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('../../fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans-bold';
    src: url('../../fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
        url('../../fonts/opensans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-light';
    src: url('../../fonts/opensans/OpenSans-Light.woff2') format('woff2'),
        url('../../fonts/opensans/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-semobolditalic';
    src: url('../../fonts/opensans/OpenSans-SemiboldItalic.woff2') format('woff2'),
        url('../../fonts/opensans/OpenSans-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-extrabold';
    src: url('../../fonts/opensans/OpenSans-Extrabold.woff2') format('woff2'),
        url('../../fonts/opensans/OpenSans-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../../fonts/opensans/OpenSans.woff2') format('woff2'),
        url('../../fonts/opensans/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-italic';
    src: url('../../fonts/opensans/OpenSans-Italic.woff2') format('woff2'),
        url('../../fonts/opensans/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-semibold';
    src: url('../../fonts/opensans/OpenSans-Semibold.woff2') format('woff2'),
        url('../../fonts/opensans/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-bolditalic';
    src: url('../../fonts/opensans/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../../fonts/opensans/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-lightitalic';
    src: url('../../fonts/opensans/OpenSansLight-Italic.woff2') format('woff2'),
        url('../../fonts/opensans/OpenSansLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-extrabolditalic';
    src: url('../../fonts/opensans/OpenSans-ExtraboldItalic.woff2') format('woff2'),
        url('../../fonts/opensans/OpenSans-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSans500';
    src: url('../../fonts/museo/MuseoSans-500.woff2') format('woff2'),
        url('../../fonts/museo/MuseoSans-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

